@import "src/@fuse/scss/fuse";

@page {
    //size: auto;
    /* auto es el valor inicial */
    margin: 12mm;
    /* afecta el margen en la configuración de impresión */
}


// @page {
//     size: auto;
//     /* auto es el valor inicial */
//     margin: 0mm;
//     /* afecta el margen en la configuración de impresión */
// }

// @page {
//     margin: 0 -1cm
// }

app-printfacturaletter {
    #invoice {
        &.modern {
            padding: 0;
            .invoice-container {
                padding: 10px;
                margin: 0 auto;
                .card {
                    width: 880px;
                    min-width: 880px;
                    max-width: 880px;
                    //    padding: 10px;
                    overflow: hidden;
                    background: #FFFFFF;
                    @include mat-elevation(7);
                    .header {
                        .ids {
                            line-height: 22px;
                            color: rgba(0, 0, 0, 0.54);
                            .detail {
                                width: 500px;
                            }
                            .seller {
                                margin-bottom: 20px;
                                .logo {
                                    width: 80px;
                                    padding-left: 20px;
                                }
                            }
                            .client {
                                padding-left: 10px;
                                .label {
                                    padding-left: 10px;
                                    width: 100px;
                                    font-size: 20px;
                                    font-weight: 250;
                                }
                            }
                            .divider {
                                width: 1px;
                                margin: 0 48px;
                                background-color: rgba(0, 0, 0, 0.12);
                                height: 50px;
                            }
                        }
                        .summary {
                            font-size: 12px;
                            .label {
                                color: rgba(0, 0, 0, 0.54);
                                text-align: right;
                                padding-right: 10px;
                            }
                            .value {
                                color: rgba(0, 0, 0, 1);
                            }
                            .code {
                                font-size: 16px;
                                font-weight: 50;
                                td {
                                    padding-bottom: 32px;
                                }
                            }
                        }
                    }
                    .content {
                        .invoice-table {
                            margin-top: 10px;
                            margin: 20pt 0;
                            font-size: 12px;
                            color: rgba(0, 0, 0, 0.87);
                            thead {
                                tr {
                                    th {
                                        color: rgba(0, 0, 0, 0.87);
                                        border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
                                        padding: 0pt 35pt;
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    td {
                                        color: rgba(0, 0, 0, 0.87);
                                        border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
                                        padding: 0pt 35pt;
                                    }
                                }
                            }
                            .title {
                                font-size: 10px;
                            }
                            .detail {
                                margin-top: 0.5px;
                                font-size: 12px;
                                color: rgba(0, 0, 0, 0.54);
                                max-width: 500px;
                            }
                        }
                        .invoice-table-footer {
                            margin: 32px 0 50px 0;
                            text-align: right;
                            padding-right: 10px;
                            padding-left: 40px;
                            tr {
                                td {
                                    text-align: right;
                                    font-size: 10px;
                                    font-weight: 600;
                                    color: rgba(0, 0, 0, 0.54);
                                    border-bottom: none;
                                    padding: left 350px;
                                    ;
                                    &:first-child {
                                        text-align: left;
                                    }
                                }
                                &.discount {
                                    td {
                                        padding-bottom: 0px;
                                    }
                                }
                                &.total {
                                    td {
                                        padding: 32px 8px;
                                        border-top: 1px solid rgba(0, 0, 0, 0.12);
                                        font-size: 15px;
                                        font-weight: 300;
                                        color: rgba(0, 0, 0, 1);
                                    }
                                }
                            }
                        }
                    }
                    .footer {
                        .note {
                            font-size: 15px;
                            font-weight: 600;
                            margin-bottom: 0px;
                        }
                        // IE10 fix
                        .logo,
                        .small-note {
                            -ms-flex: 0 1 auto;
                        }
                        .logo {
                            width: 32px;
                            min-width: 32px;
                            margin-right: 24px;
                        }
                        .small-note {
                            font-size: 12px;
                            font-weight: 600;
                            color: rgba(0, 0, 0, 0.54);
                            line-height: 18px;
                        }
                    }
                }
            }
        }
    }
    /* PRINT STYLES */
    @media print  {

          
          /* Invoice Specific Styles */
          #invoice {
            &.modern {
                background: white;
                .invoice-container {
                    padding: 30;
                    .card {
                        width: 95%;
                        min-width: 0;
                        background: none;
                        padding: 0;
                        padding-left: 30;
                        box-shadow: none;
                        .header {
                            .ids {
                                line-height: 22px;
                                color: rgba(0, 0, 0, 0.54);
                                .detail {
                                    width: 300px;
                                }
                                .seller {
                                    margin-bottom: 80px;
                                    .logo {
                                        width: 180px;
                                        padding-left: 80px;
                                    }
                                }
                                .client {
                                    padding-left: 20px;
                                    .label {
                                        padding-left: 60px;
                                        width: 100px;
                                        font-size: 15px;
                                        font-weight: 200;
                                    }
                                }
                                .divider {
                                    width: 1px;
                                    margin: 0 48px;
                                    background-color: rgba(0, 0, 0, 0.12);
                                    height: 50px;
                                }
                            }
                            .summary {
                                font-size: 12px;
                                .label {
                                    color: rgba(0, 0, 0, 0.54);
                                    text-align: right;
                                    padding-right: 10px;
                                }
                                .value {
                                    color: rgba(0, 0, 0, 1);
                                }
                                .code {
                                    font-size: 16px;
                                    font-weight: 50;
                                    td {
                                        padding-bottom: 32px;
                                    }
                                }
                            }
                        }
                        .content {
                            .invoice-table {
                                margin-top: 10px;
                                font-size: 15px;
                                color: rgba(0, 0, 0, 0.87);
                                thead {
                                    tr {
                                        th {
                                            color: rgba(0, 0, 0, 0.87);
                                            border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
                                        }
                                    }
                                }
                                tbody {
                                    tr {
                                        td {
                                            color: rgba(0, 0, 0, 0.87);
                                            border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
                                        }
                                    }
                                }
                                .title {
                                    font-size: 10px;
                                }
                                .detail {
                                    margin-top: 0.5px;
                                    font-size: 10px;
                                    color: rgba(0, 0, 0, 0.54);
                                    max-width: 360px;
                                }
                            }
                            .invoice-table-footer {
                                margin: 32px 0 50px 0;
                                text-align: right;
                                padding-right: 10px;
                                padding-left: 40px;
                                tr {
                                    td {
                                        text-align: right;
                                        font-size: 10px;
                                        font-weight: 600;
                                        color: rgba(0, 0, 0, 0.54);
                                        border-bottom: none;
                                        padding: left 350px;
                                        ;
                                        &:first-child {
                                            text-align: left;
                                        }
                                    }
                                    &.discount {
                                        td {
                                            padding-bottom: 0px;
                                        }
                                    }
                                    &.total {
                                        td {
                                            padding: 32px 8px;
                                            border-top: 1px solid rgba(0, 0, 0, 0.12);
                                            font-size: 15px;
                                            font-weight: 300;
                                            color: rgba(0, 0, 0, 1);
                                        }
                                    }
                                }
                            }
                        }
                        .footer {
                            .note {
                                font-size: 10pt;
                                margin-bottom: 8pt;
                            }
                            .logo {
                                font-size: 14pt;
                                margin-right: 8pt;
                            }
                            .small-note {
                                font-size: 8pt;
                                line-height: normal;
                            }
                        }
                    }
                }
            }
        }
    }
    }
        