<div id="listaprecio" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/configuracion/listaprecios'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <!-- <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img *ngIf="product.images[0]" [src]="product.images[0].url">
                    <img *ngIf="!product.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                </div> -->

                <!-- <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{product.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Product
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Product Detail</span>
                    </div>
                </div> -->



                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType !='new'">
                        {{listaprecios.lista}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Nueva Lista
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Detalle Lista Precio</span>
                    </div>
                </div>


            </div>
            <!-- / APP TITLE -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input palceholder="Buscar Producto" (keyup)="applyFilter($event.target.value)">

                    <!-- <input #filter placeholder="Buscar una lista"> -->
                </div>
            </div>

            <button mat-raised-button class="save-product-button" [disabled]="listaprecioForm.invalid" *ngIf="pageType ==='new'" (click)="addListaPrecio()">
        <span>ADD</span>
    </button>

            <button mat-raised-button class="save-product-button" [disabled]="listaprecioForm.invalid " *ngIf="pageType !='new'" (click)="saveListaPrecio()">
        <span>SAVE</span>
    </button>








        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">



                <mat-tab-group>

                    <mat-tab label="Listas">
                        <form name="listaprecioForm" [formGroup]="listaprecioForm" class="product w-100-p" fxLayout="column" fxFlex>

                            <div class="tab-content p-24" fusePerfectScrollbar>



                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" *ngIf="pageType !='new'">
                                    <mat-label>Codigo Precio</mat-label>
                                    <input matInput placeholder="Codigo" readonly="readonly" name="codlista" formControlName="codlista">
                                </mat-form-field>

                                <!-- <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Sucursal</mat-label>
                                    <input matInput placeholder="Sucursal" name="sucursal" formControlName="sucursal" type="text">
                                </mat-form-field> -->


                                <div fxLayout="row" fxLayoutAlign="space-between">

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Lista</mat-label>
                                        <input matInput placeholder="Lista" name="lista" formControlName="lista">
                                        <!-- <span matSuffix>cm</span> -->
                                    </mat-form-field>



                                    <mat-form-field appearance="outline" fxFlex="30">
                                        <mat-label>Fecha Creacion</mat-label>
                                        <input matInput [matDatepicker]="creacionDatePicker" name="fechacreacion" formControlName="fechacreacion">
                                        <mat-datepicker-toggle matSuffix [for]="creacionDatePicker"></mat-datepicker-toggle>
                                        <mat-datepicker #creacionDatePicker></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Estado</mat-label>
                                        <mat-select formControlName="estado">
                                            <mat-option [value]="'Activo'">
                                                Activo
                                            </mat-option>
                                            <mat-option [value]="'Inactivo'">
                                                Inactivo
                                            </mat-option>

                                        </mat-select>
                                        <!-- <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                                    <mat-error>Estado is required!</mat-error> -->
                                    </mat-form-field>
                                </div>



                            </div>
                        </form>
                    </mat-tab>
                    <mat-tab label="Precios" *ngIf="pageType !='new'">
                        <!-- <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" palceholder="Buscar Producto" fxLayoutAlign="space-between center">
                        </mat-form-field> -->

                        <div class="content-card">

                            <table mat-table class="products-table" [dataSource]="dataSource">

                                <!-- Position Column -->
                                <!-- <ng-container matColumnDef="Line">
                                        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.Linea}} </mat-cell>
                                    </ng-container> -->
                                <ng-container matColumnDef="ItemCode">
                                    <mat-header-cell *matHeaderCellDef> ItemCode </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.ItemCode}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="ItemName">
                                    <mat-header-cell *matHeaderCellDef> ItemName </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.ItemName}} </mat-cell>
                                </ng-container>
                                <!-- Name Column -->


                                <ng-container matColumnDef="Price">
                                    <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <mat-form-field floatLabel="never">
                                            <!-- <input type="number | number:'1.4-4'" matInput [value]="element.price" (change)="Change(element)" [(ngModel)]="element.price"> -->

                                            <input type="number" matInput [value]="element.price" (change)="Change(element)" [(ngModel)]="element.price">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>


                                <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns; " class="product "></mat-row>

                            </table>



                        </div>
                    </mat-tab>
                </mat-tab-group>


            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>