<!-- <p>producto works!</p> -->



<div id="productos" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/configuracion/productos'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <!-- <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img *ngIf="product.images[0]" [src]="product.images[0].url">
                    <img *ngIf="!product.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                </div> -->

                <!-- <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{product.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Product
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Product Detail</span>
                    </div>
                </div> -->


                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType !='new'">
                        {{productos.productos}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Nueva Producto
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Detalle del Productos</span>
                    </div>
                </div>


            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="save-product-button" [disabled]="productoForm.invalid" *ngIf="pageType ==='new'" (click)="addProducto()">
                <span>ADD</span>
            </button>

            <button mat-raised-button class="save-product-button" [disabled]="productoForm.invalid || productoForm.pristine" *ngIf="pageType!='new'" (click)="saveProducto()">
                <span>SAVE</span>
            </button>








        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="productoForm" [formGroup]="productoForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Datos Generales">

                            <div class="tab-content p-24" fusePerfectScrollbar>


                                <!-- <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Sucursal</mat-label>
                                    <input matInput placeholder="Sucursal" name="sucursal" formControlName="sucursal" type="text">
                                </mat-form-field> -->

                                <div fxLayout="row" fxLayoutAlign="space-between">

                                    <!-- <mat-form-field appearance="outline" floatLabel="always"  fxFlex="30"
                                    *ngIf="pageType !='new'"> -->

                                    <!-- <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Serie</mat-label>
                                        <input matInput placeholder="Serie" name="serieprod" formControlName="serieprod">
                                     
                                    </mat-form-field> -->

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Codigo Producto</mat-label>
                                        <input matInput placeholder="Codigo" name="cprod" formControlName="cprod">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Compañia</mat-label>
                                        <mat-select formControlName='ccomp' name="ccomp">
                                            <mat-option *ngFor="let comp of company" [value]="comp.ccomp">
                                                {{comp.empresa}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>


                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Lote de Bodega </mat-label>
                                        <mat-select formControlName='clbod' name="clbod">
                                            <mat-option *ngFor="let dlbod of lbodega" [value]="dlbod.clbod">
                                                {{dlbod.ubicacion}}
                                            </mat-option>
                                        </mat-select>

                                    </mat-form-field>


                                </div>


                                <div fxLayout="row" fxLayoutAlign="space-between">


                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Categoria</mat-label>
                                        <mat-select formControlName='ccate' name="ccate">
                                            <mat-option *ngFor="let cat of categorias" [value]="cat.ccate">
                                                {{cat.categoria}}
                                            </mat-option>
                                        </mat-select>

                                    </mat-form-field>


                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Proveedor</mat-label>
                                        <mat-select formControlName='cprov' name="cprov">
                                            <mat-option *ngFor="let prov of proveedor" [value]="prov.ccomp">
                                                {{prov.nombre}}
                                            </mat-option>
                                        </mat-select>

                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Producto</mat-label>
                                        <input matInput placeholder="Producto" name="producto" formControlName="producto" type="text" pattern="[A-Za-z\sáéíóú]+">
                                        <!-- <span matSuffix>cm</span> -->
                                    </mat-form-field>



                                    <!-- 
                            -->
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Imagen</mat-label>
                                        <input matInput placeholder="Imagen" name="imagen" formControlName="imagen">
                                        <!-- <span matSuffix>cm</span> -->
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Serie</mat-label>
                                        <input matInput placeholder="Serie" name="serieprod" formControlName="serieprod">
                                        <!-- <span matSuffix>cm</span> -->
                                    </mat-form-field>


                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Estado</mat-label>
                                        <mat-select formControlName="estado">
                                            <mat-option [value]="'Activo'">
                                                Activo
                                            </mat-option>
                                            <mat-option [value]="'Inactivo'">
                                                Inactivo
                                            </mat-option>

                                        </mat-select>

                                    </mat-form-field>






                                </div>
                            </div>

                        </mat-tab>



                        <!-- </mat-tab-group> -->

                        <!-- segunda pestana -->
                        <!-- <mat-tab-group> -->

                        <mat-tab label="Datos de Compra / Venta">

                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <!-- 
                                <mat-form-field appearance="outline" floatLabel="always" fxFlex="30"
                                    *ngIf="pageType !='new'">
                                    <mat-label>Costo</mat-label>
                                    <input matInput placeholder="Costo" readonly="readonly" name="costo"
                                        formControlName="costo">
                                </mat-form-field> -->

                                <!-- <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Sucursal</mat-label>
                                    <input matInput placeholder="Sucursal" name="sucursal" formControlName="sucursal" type="text">
                                </mat-form-field> -->

                                <div fxLayout="row" fxLayoutAlign="space-between">

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Costo</mat-label>
                                        <input matInput placeholder="Costo" name="costo" formControlName="costo" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Tipo</mat-label>
                                        <input matInput placeholder="Tipo" name="tipo" formControlName="tipo" pattern="[A-Za-z\sáéíóú]+">
                                        <!-- <span matSuffix>cm</span> -->
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Compra Tipo</mat-label>
                                        <input matInput placeholder="Compra Tipo" name="compratipounidad" formControlName="compratipounidad" pattern="[A-Za-z\sáéíóú]+">
                                        <!-- <span matSuffix>cm</span> -->
                                    </mat-form-field>




                                </div>

                                <div fxLayout="row" fxLayoutAlign="space-between">


                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Venta Tipo</mat-label>
                                        <input matInput placeholder="Venta Tipo" name="ventatipounidad" formControlName="ventatipounidad" pattern="[A-Za-z\sáéíóú]+">
                                        <!-- <span matSuffix>cm</span> -->
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Impuesto</mat-label>
                                        <input matInput placeholder="Impuesto" name="impuesto" formControlName="impuesto" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required>
                                        <!-- <span matSuffix>cm</span> -->
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Existencia</mat-label>
                                        <input matInput placeholder="Existencia" name="sinexistencia" formControlName="sinexistencia">
                                        <!-- <span matSuffix>cm</span> -->
                                    </mat-form-field>

                                </div>


                                <div fxLayout="row" fxLayoutAlign="space-between">


                                    <mat-form-field appearance="outline" fxFlex="30">
                                        <mat-label>Fecha Ingreso</mat-label>
                                        <input matInput [matDatepicker]="creacionDatePicker" name="fechaingreso" formControlName="fechaingreso">
                                        <mat-datepicker-toggle matSuffix [for]="creacionDatePicker"></mat-datepicker-toggle>
                                        <mat-datepicker #creacionDatePicker></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="30">
                                        <mat-label>Fecha Vencimiento</mat-label>
                                        <input matInput [matDatepicker]="vencimientoDatePicker" name="fechavenc" formControlName="fechavenc">
                                        <mat-datepicker-toggle matSuffix [for]="vencimientoDatePicker"></mat-datepicker-toggle>
                                        <mat-datepicker #vencimientoDatePicker></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Observaciones</mat-label>
                                        <input matInput placeholder="Observaciones" name="observaciones" formControlName="observaciones">
                                        <!-- <span matSuffix>cm</span> -->
                                    </mat-form-field>

                                </div>





                            </div>

                        </mat-tab>




                        <!-- <mat-tab label="Datos de Inventario">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                 
                               
                            </div>

                        </mat-tab> -->




                    </mat-tab-group>






                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>