<div id="department" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/configuracion/departments'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType !='new'">
                        {{department.departamento}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Nuevo Departamento
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Detalle Departamento</span>
                    </div>
                </div>


            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="save-product-button" [disabled]="departmentForm.invalid" *ngIf="pageType ==='new'" (click)="addDepartamento()">
        <span>ADD</span>
    </button>

            <button mat-raised-button class="save-product-button" [disabled]="departmentForm.invalid || departmentForm.pristine" *ngIf="pageType !='new'" (click)="saveDepartamento()">
        <span>SAVE</span>
    </button>








        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="departmentForm" [formGroup]="departmentForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Departamentos">

                            <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">

                                <mat-form-field appearance="outline" floatLabel="always" fxFlex="30" *ngIf="pageType !='new'">
                                    <mat-label>Codigo Departamento</mat-label>
                                    <input matInput placeholder="Codigo" readonly="readonly" name="cdepa" formControlName="cdepa">
                                </mat-form-field>


                                <div fxLayout="row" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Pais</mat-label>
                                        <mat-select formControlName='cpais' name="cpais">
                                            <mat-option *ngFor="let p of paises" [value]="p.cpais">
                                                {{p.pais}}
                                            </mat-option>
                                        </mat-select>

                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Departamento</mat-label>
                                        <input matInput placeholder="Departamento" name="departamento" formControlName="departamento" type="text" pattern="[A-Za-z]+">
                                    </mat-form-field>



                                    <!-- <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Estado</mat-label>
                                    <input matInput placeholder="Estado" name="estado" formControlName="estado" type="text">
                                </mat-form-field> -->


                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Estado</mat-label>
                                        <mat-select formControlName="estado">
                                            <mat-option [value]="'Activo'">
                                                Activo
                                            </mat-option>
                                            <mat-option [value]="'Inactivo'">
                                                Inactivo
                                            </mat-option>

                                        </mat-select>
                                        <!-- <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                                    <mat-error>Estado is required!</mat-error> -->
                                    </mat-form-field>


                                </div>

                            </div>

                        </mat-tab>



                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>