<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    shopping_basket
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Consultas de Inventarios
                </span>
            </div>


            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Buscar">
                </div>
            </div>

            <!-- / APP TITLE -->
            <!-- 
            <mat-form-field appearance="outline" fxFlex="20">
                <mat-label>Copiar de:</mat-label>
                <mat-select (selectionChange)="editContact($event.value)">
                    <mat-option [value]="'COTIZACION'">Cotizacion </mat-option>
                </mat-select>

            </mat-form-field> -->

            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <!-- <button mat-raised-button [routerLink]="'/ventas/pedidos/new/pedido'" class="add-product-button fuse-white mt-24 mt-md-0">
                <span>AGREGAR PEDIDO</span>
            </button> -->
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table class="products-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>
                <!---->
                <!-- ccomp Column -->
                <ng-container matColumnDef="Codigo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Codigo</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.ItemCode}}</p>
                    </mat-cell>
                </ng-container>

                <!-- SocioCode Column -->
                <ng-container matColumnDef="Nombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.ItemName}}</p>
                    </mat-cell>
                </ng-container>

                <!-- NombreSocio Column -->
                <ng-container matColumnDef="Bodega">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Bodega</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.bodega}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Inventario">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Inventario</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.stock}}</p>
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="Minimo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Minimo</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.minimo}}</p>
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="Maximo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Maximo</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.maxino}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Comprometido">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Comprometido</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.comprometido}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Solicitado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Solicitado</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.solicitado}}</p>
                    </mat-cell>
                </ng-container>



                <!-- 
               
                <ng-container matColumnDef="TotalDoc">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Total</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.TotalDoc|number}}</p>
                    </mat-cell>
                </ng-container>

               
                <ng-container matColumnDef="fechaDoc">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p>
                            {{getFormattedDate( product.fechaDoc)| date:'dd/MM/yyyy' }}

                        </p>
                    </mat-cell>
                </ng-container> -->


                <!-- <ng-container matColumnDef="borrar">
                    <th mat-header-cell *matHeaderCellDef> Borra? </th>
                    <td mat-cell *matCellDef="let product; row: displayedColumns;" class="product" matRipple>
                        <button mat-raised-button color="warn" focusable="false" (click)="borrarFila(product.numero)">
                        Borra?
                      </button>

                    </td>
                </ng-container> -->


                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let product; columns: displayedColumns;" class="product" matRipple>
                </mat-row>

            </mat-table>

            <mat-paginator #paginator [pageIndex]="0 " [length]=" dataSource.filteredData.length " [pageSize]="10 " [pageSizeOptions]="[5, 10, 25, 100,200] ">

            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>