<!-- <p>sucursal works!</p>  -->


<div id="moneda" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/configuracion/monedas'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <!-- <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img *ngIf="product.images[0]" [src]="product.images[0].url">
                    <img *ngIf="!product.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                </div> -->

                <!-- <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{product.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Product
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Product Detail</span>
                    </div>
                </div> -->


                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType !='new'">
                        {{moneda.moneda}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Nueva Moneda
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Detalle Moneda</span>
                    </div>
                </div>


            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="save-product-button" [disabled]="monedaForm.invalid" *ngIf="pageType ==='new'" (click)="addMoneda()">
        <span>ADD</span>
    </button>

            <button mat-raised-button class="save-product-button" [disabled]="monedaForm.invalid || monedaForm.pristine" *ngIf="pageType !='new'" (click)="saveMoneda()">
        <span>SAVE</span>
    </button>








        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="monedaForm" [formGroup]="monedaForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Monedas">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" *ngIf="pageType !='new'">
                                    <mat-label>Codigo Moneda</mat-label>
                                    <input matInput placeholder="Codigo" readonly="readonly" name="cmon" formControlName="cmon">
                                </mat-form-field>

                                <!-- <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Sucursal</mat-label>
                                    <input matInput placeholder="Sucursal" name="sucursal" formControlName="sucursal" type="text">
                                </mat-form-field> -->

                                <div fxLayout="row" fxLayoutAlign="space-between">


                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="45">
                                        <mat-label>Compañia</mat-label>
                                        <mat-select formControlName='ccomp' name="ccomp">
                                            <mat-option *ngFor="let comp of company" [value]="comp.ccomp">
                                                {{comp.empresa}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>



                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="45">
                                        <mat-label>Pais</mat-label>
                                        <mat-select formControlName='cpais' name="cpais">
                                            <mat-option *ngFor="let pais of paises" [value]="pais.cpais">
                                                {{pais.pais}}
                                            </mat-option>
                                        </mat-select>

                                    </mat-form-field>



                                </div>

                                <div fxLayout="row" fxLayoutAlign="space-between">

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="45">
                                        <mat-label>Moneda</mat-label>
                                        <input matInput placeholder="Moneda" name="moneda" formControlName="moneda" pattern="[A-Za-z]+">
                                        <!-- <span matSuffix>cm</span> -->
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="45">
                                        <mat-label>Abreviatura</mat-label>
                                        <input matInput placeholder="Abreviatura" name="abrev" formControlName="abrev" pattern="[A-Za-z]+">
                                        <!-- <span matSuffix>cm</span> -->
                                    </mat-form-field>


                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="45">
                                        <mat-label>Precio Compra</mat-label>
                                        <input matInput placeholder="Compra" name="pcompra" formControlName="pcompra" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required>
                                        <!-- <span matSuffix>cm</span> -->
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="45">
                                        <mat-label>Precio Venta</mat-label>
                                        <input matInput placeholder="Venta" name="pventa" formControlName="pventa" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required>
                                        <!-- <span matSuffix>cm</span> -->
                                    </mat-form-field>

                                </div>


                                <div fxLayout="row" fxLayoutAlign="space-between">


                                    <mat-form-field appearance="outline" fxFlex="45">
                                        <mat-label>Fecha Creacion</mat-label>
                                        <input matInput [matDatepicker]="creacionDatePicker" name="fecha_creacion" formControlName="fecha_creacion">
                                        <mat-datepicker-toggle matSuffix [for]="creacionDatePicker"></mat-datepicker-toggle>
                                        <mat-datepicker #creacionDatePicker></mat-datepicker>
                                    </mat-form-field>


                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="45">
                                        <mat-label>Estado</mat-label>
                                        <mat-select formControlName="estado">
                                            <mat-option [value]="'Activo'">
                                                Activo
                                            </mat-option>
                                            <mat-option [value]="'Inactivo'">
                                                Inactivo
                                            </mat-option>

                                        </mat-select>
                                        <!-- <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                                    <mat-error>Estado is required!</mat-error> -->
                                    </mat-form-field>
                                </div>



                            </div>

                        </mat-tab>



                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>