@import "src/@fuse/scss/fuse";
app-promo {
    .Subs {
        padding-left: 70%;
    }
    .productItem {
        padding-left: 10px;
    }
    .products-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(28, 14, 226, 0.12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        width: 100%;
        .mat-header-row {
            min-height: 64px;
        }
        .mat-header-cell {
            text-align: center !important;
            display: flex;
        }
        .product {
            position: relative;
            cursor: pointer;
            height: 44px;
        }
        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }
        .mat-column-Line {
            flex: 0 1 84px;
        }
        .mat-column-image {
            flex: 0 1 84px;
            .product-image {
                width: 52px;
                height: 52px;
                border: 1px solid rgba(0, 0, 0, .12);
            }
        }
        .mat-column-ItemCode {
            flex: 0 1 190px;
        }
        .mat-column-ItemName {
            flex: 0 1 850px;
        }
        .mat-column-Price {
            flex: 0 1 150px;
        }
        .mat-column-Cantidad {
            flex: 0 1 150px;
        }
        .mat-column-Descuento {
            flex: 0 1 150px;
        }
        .mat-column-Total {
            flex: 0 1 150px;
        }
        .mat-column-Bodega {
            flex: 0 1 150px;
        }
        .mat-column-actions {
            flex: 0 1 150px;
        }
        .quantity-indicator {
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            margin-right: 8px;
            &+span {
                display: inline-block;
                vertical-align: middle;
            }
        }
        .active-icon {
            border-radius: 50%;
        }
    }
}