<div id="validaciones" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <!-- <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/configuracion/areatrabajos'">
                    <mat-icon>arrow_back</mat-icon>
                </button> -->

                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType !='new'">
        
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Nueva Area
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Configuraciones</span>
                    </div>
                </div>


            </div>
            <!-- / APP TITLE -->
<!-- 
            <button mat-raised-button class="save-product-button" [disabled]="areatrabajoForm.invalid" *ngIf="pageType ==='new'" (click)="addAreaT()">
        <span>ADD</span>
    </button> -->

            <button mat-raised-button class="save-product-button"  (click)="update()">
        <span>SAVE</span>
    </button>








        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

          
                    <mat-tab-group>

                       <mat-tab label="Ventas">

                         <div class="tab-content p-24" fusePerfectScrollbar>
                           <!-- <div *ngFor="let val of TValidas" fxLayout="row" fxLayoutAlign="space-between">
                                    <button mat-button class="toggle-complete-button" (click)="toggleCompleted($event,val.validacionid)"
                                    aria-label="Toggle completed" fxFlex="0 1 auto">
                                <mat-icon *ngIf="val.valido">check_box</mat-icon>
                                <mat-icon *ngIf="!val.valido">check_box_outline_blank</mat-icon>
                                <span class="ml-8">{{val.Validacion}}</span>
                            </button> 
     
        
                                </div>  -->

                                <div *ngFor="let val of TValidas" fxLayout="row" fxLayoutAlign="space-between">
                                    <label >
                                        <input type="checkbox" [(ngModel)]="val.valido"  (change)="toggleCompleted($event,val.validacionid)"/>
                                       {{val.Validacion}}
                                       </label>
                                </div>
          
                         
                    

                            </div>

                        </mat-tab>


                        <mat-tab label="Inventario">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                 

                                <div fxLayout="row" fxLayoutAlign="space-between">
                    


                     


                                </div>

                            </div>

                        </mat-tab>

                    </mat-tab-group>

      

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
