<div id="invoice" class="modern page-layout blank" fxLayout="row">


    <div class="invoice-container">
        <div class="card">

            <div class="header" fxLayout="row" fxLayoutAlign="space-between start">
                <div class="ids" fxLayout="column">
                    <div fxLayout="row" class="seller" fxLayoutAlign="start center">

                        <div class="logo">
                            <img src="assets/images/logos/logo.jpg">
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center">

                            <h1>REPORTE DE SALDO DE CLIENTE
                            </h1>


                        </div>

                    </div>
                    <div fxLayout="row" fxLayoutAlign="end center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                            <mat-label>ID</mat-label>
                            <input matInput placeholder="ID" [(ngModel)]="SocioCode" [matAutocomplete]="auto" [formControl]="socioCtrl" (keydown.enter)="complete($event)">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let socios of filteredSocios | async" [value]="socios.csocio">

                                    <span>{{socios.csocio}} | </span>
                                    <small>{{socios.nombre}}</small>

                                </mat-option>
                            </mat-autocomplete>
                            <mat-error>ID is required!</mat-error>
                        </mat-form-field>



                        <mat-form-field appearance="outline" fxFlex="200" class="pl-4">
                            <mat-label>Socio</mat-label>
                            <input matInput [(ngModel)]="nombreSocio" required>
                            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                            <mat-error>Socio is required!</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="48" class="pl-4">
                            <mat-label>Desde </mat-label>
                            <input matInput [matDatepicker]="FechaDatePicker" name="desde" [(ngModel)]='desde'>
                            <mat-datepicker-toggle matSuffix [for]="FechaDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #FechaDatePicker></mat-datepicker>
                        </mat-form-field>


                        <mat-form-field appearance="outline" fxFlex="48" class="pl-4">
                            <mat-label>Hasta </mat-label>
                            <input matInput [matDatepicker]="FechaDatePicker1" name="hasta" [(ngModel)]='hasta'>
                            <mat-datepicker-toggle matSuffix [for]="FechaDatePicker1"></mat-datepicker-toggle>
                            <mat-datepicker #FechaDatePicker1></mat-datepicker>
                        </mat-form-field>
                        <!-- (keydown.enter)="complete($event)" -->
                        <button mat-raised-button class="pl-4 button accent-800" fxFlex="20" (click)="report()"> Buscar </button>

                    </div>
                </div>

            </div>

            <div class="content">
                <table class="simple invoice-table">
                    <thead>
                        <tr>
                            <th>NO. FACTURA</th>

                            <th class="text-right">FECHA DOC</th>
                            <th class="text-right">TIPO</th>
                            <th class="text-right">IMPUESTO</th>
                            <th class="text-right">TOTAL DOC</th>
                            <th class="text-right">TOTAL PAG.</th>
                            <th class="text-right">TOTAL VENC.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let det of  datos">
                            <!-- <td>
                                <div class="title">{{det.itemCode}}</div>
                                <div class="detail">{{det.itemName}}</div>
                            </td> -->

                            <td>
                                {{det.numero}}
                            </td>
                            <td class="text-right">
                                {{ getFormattedDate(det.fechaDoc) |date:'dd/MM/yyyy'}}
                            </td>
                            <td class="text-right">
                                {{det.tipo }}
                            </td>
                            <td class="text-right">
                                {{det.impuesto | number:'1.2-2'}}
                            </td>
                            <td class="text-right">
                                {{det.TotalDoc| number:'1.2-2'}}
                            </td>
                            <td class="text-right">
                                {{det.TotalPagado| number :'1.2-2'}}
                            </td>
                            <td class="text-right">
                                {{det.SaldoVencido | number:'1.2-2'}}
                            </td>

                        </tr>
                    </tbody>
                </table>

                <table class="simple invoice-table-footer">
                    <tbody>
                        <tr class="subtotal">
                            <td>TOTAL FACTURAS</td>
                            <td>{{totalfacturas| currency:'LPS':'symbol'}}</td>
                        </tr>
                        <tr class="tax">
                            <td>TOTAL PAGADO</td>
                            <td>{{totalpagado| currency:'LPS':'symbol'}}</td>
                        </tr>
                        <tr class="total">
                            <td>SALDO VENCIDO</td>
                            <td>{{ totalvencido| currency:'LPS':'symbol'}}</td>
                        </tr>
                        <!-- <tr class="total">
                            <td>TOTAL</td>
                            <td>{{Encabezado.TotalDoc | currency:'LPS':'symbol'}}</td>
                        </tr> -->
                    </tbody>
                </table>
            </div>

            <div class="footer">
                <div class="note">Reporte de Saldos de Cliente</div>
                <div fxLayout="row" fxLayoutAlign="start start">
                    <div class="logo">
                        <img src="assets/images/logos/logo.jpg">
                    </div>
                    <div class="small-note">
                        Productos 100% natural para bajar de peso
                    </div>
                </div>
            </div>

            <!--

            Use the following elements to add breaks to your pages. This will make sure that the section in between
            these elements will be printed on a new page. The following two elements must be used before and after the
            page content that you want to show as a new page. So, you have to wrap your content with them.

            Elements:
            ---------
            <div class="page-break-after"></div>
            <div class="page-break-before"></div>

            -->

            <!--

            Example: 
            --------

            Initial page content!

            <div class="page-break-after"></div>
            <div class="page-break-before"></div>

            This is the second page!

            <div class="page-break-after"></div>
            <div class="page-break-before"></div>

            This is the third page!

            <div class="page-break-after"></div>
            <div class="page-break-before"></div>

            -->

        </div>
        <!-- / INVOICE -->

    </div>

</div>