<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    shopping_basket
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Historial Visitas
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Buscar una Cita">
                </div>
            </div>


            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button [routerLink]="'/configuracion/historials/new'" class="add-product-button fuse-white mt-24 mt-md-0">
                <span>AGREGAR CITA</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table class="products-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                 <ng-container matColumnDef="chist">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Cita</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.chist}}</p>
                    </mat-cell>
                </ng-container>

                <!-- ID Column -->
                <ng-container matColumnDef="nombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.nombre}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="producto">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Producto</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.producto}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="pesoini">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Peso Ini</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.pesoini}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column 
                <ng-container matColumnDef="cpais">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Pais</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.cpais}}</p>
                    </mat-cell>
                </ng-container>

                 Name Column 
                <ng-container matColumnDef="cdepa">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Departamento</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.cdepa}}</p>
                    </mat-cell>
                </ng-container>

                 Name Column 
                <ng-container matColumnDef="cmuni">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Municipio</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.cmuni}}</p>
                    </mat-cell>
                </ng-container> -->

                <!-- Name Column -->
                <ng-container matColumnDef="pesoact">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Peso Actual</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.pesoact}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="talla">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Talla</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.talla}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="imc">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>IMC</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.imc}}</p>
                    </mat-cell>
                </ng-container>

                 <!-- Name Column -->
                 <ng-container matColumnDef="ptr">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>PTR</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.ptr}}</p>
                    </mat-cell>
                </ng-container>

                 <!-- Name Column 
                 <ng-container matColumnDef="genero">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Genero</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.genero}}</p>
                    </mat-cell>
                </ng-container>-->

               
                <ng-container matColumnDef="fechacreacion">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.fechacreacion}}</p>
                    </mat-cell>
                </ng-container>-->

                <!-- Estado Column -->
                <ng-container matColumnDef="estado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Estado</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs>
                        <mat-icon *ngIf="product.estado=='Activo'" class="active-icon green-600 s-16">check</mat-icon>
                        <mat-icon *ngIf="product.estado=='Inactivo'" class="active-icon red-500 s-16">close</mat-icon>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let product; columns: displayedColumns;" class="product" matRipple [routerLink]="'/configuracion/historials/'+product.chist">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator [length]=" dataSource.filteredData.length " [pageIndex]="0 " [pageSize]="10 " [pageSizeOptions]="[5, 10, 25, 100] ">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>


