<div id="invoice" class="modern page-layout blank" fxLayout="row">


    <div class="invoice-container">



        <!-- INVOICE -->
        <div class="card">

            <div class="header">




                <div class="ids" fxLayout="column">

                    <div fxLayout="row" class="seller" fxLayoutAlign="start center">



                        <!-- <div class="divider"></div> -->

                        <!-- <div class="detail"> -->
                        <!-- <div class="title">GENESIS HEALTH</div> -->
                        <!-- <div *ngIf="invoice?.from.address" class="address">
                                {{invoice.from.address}}
                            </div>
                            <div *ngIf="invoice?.from.phone" class="phone">
                                <span>Phone:</span> {{invoice.from.phone}}
                            </div>
                            <div *ngIf="invoice?.from.email" class="email">
                                <span>Email:</span> {{invoice.from.email}}
                            </div>
                            <div *ngIf="invoice?.from.website" class="website">
                                <span>Web:</span> {{invoice.from.website}}
                            </div> -->
                        <!-- </div> -->

                    </div>






                </div>
                <div class="text1">{{company.empresa}}</div>
                <div class="divider1"></div>
                <div class="text"> Cliente - {{Encabezado.SocioCode}}</div>
                <div class="text">{{Encabezado.NombreSocio}}</div>
                <div class="divider1"></div>
                <div class="text"> FACTURA </div>
                <div class="text"> {{Encabezado.numero}}</div>
                <div class="text"> FECHA </div>
                <div class="text"> {{Encabezado.fechaDoc |date: 'dd/MM/yyyy'}}</div>

                <div class="text"> CAI </div>
                <div class="text1">{{Encabezado.cai.substring(0,21) }}</div>

                <div class="text1">{{Encabezado.cai.substring(21,37) }} </div>

                <div class="text"> FECHA LIMITE EMISION </div>
                <div class="text"> {{Encabezado.fecha_limite |date: 'dd/MM/yyyy'}} </div>
                <div class="text"> RANGO </div>
                <div class="text"> {{Encabezado.fact_emini }} </div>
                <div class="text"> hasta </div>
                <div class="text"> {{Encabezado.fact_emifin}}</div>









            </div>


            <div class="content">
                <table class="simple invoice-table">
                    <thead>
                        <th>
                        </th>

                        <tr class="detalle">
                            <div >
                                <td> CODIGO</td>
                            </div>

                        </tr>
                        <tr>
                            <div class="detalle">
                                <td>DESCRIPCION</td>
                            </div>
                        </tr>



                        <tr>
                            <div>

                                <td class="detalle"> PRECIO</td>
                                <td class="text-right detal detalle"> CANTIDAD</td>
                                <td class="text-right detalle"> TOTAL</td>


                            </div>
                        </tr>

                        <tr>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                        </tr>


                    </thead>


                    <tbody>
                        <tr *ngFor="let det of Detalle">





                            <div class="detalle">{{det.itemCode}}</div>
                            <div class="detalle">{{det.itemName}}</div>

                            <div class="detalle">

                                <td> {{det.precio}}</td>
                                <td> {{det.cantidad}}</td>
                                <td class="text-right"> {{det.totaLine }}</td>


                            </div>












                        </tr>
                    </tbody>

                </table>
                <table class="simple invoice-table-footer">
                    <tbody>
                        <tr >
                            <td>SUBTOTAL</td>
                            <td>{{Encabezado.TotalDoc-Encabezado.impuesto| currency:'LPS':'symbol'}}</td>
                        </tr>
                        <tr >
                            <td>ISV</td>
                            <td>{{Encabezado.impuesto| currency:'LPS':'symbol'}}</td>
                        </tr>
                        <tr class="discount" >
                            <td>DESCUENTO</td>
                            <td>-{{0| currency:'LPS':'symbol'}}</td>
                        </tr>
                        <tr class="total" >
                            <td >TOTAL</td>
                            <td>{{Encabezado.TotalDoc | currency:'LPS':'symbol'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="footer">
                <div class="note"></div>
                <div fxLayout="row" fxLayoutAlign="start start">
                    <div class="logo">
                        <!-- <img src="assets/images/logos/Genesis.jpg"> -->
                    </div>
                    <div class="small-note">
                        {{company.comentarios}}
                    </div>
                </div>
            </div>

            <!--

            Use the following elements to add breaks to your pages. This will make sure that the section in between
            these elements will be printed on a new page. The following two elements must be used before and after the
            page content that you want to show as a new page. So, you have to wrap your content with them.

            Elements:
            ---------
            <div class="page-break-after"></div>
            <div class="page-break-before"></div>

            -->

            <!--

            Example: 
            --------

            Initial page content!

            <div class="page-break-after"></div>
            <div class="page-break-before"></div>

            This is the second page!

            <div class="page-break-after"></div>
            <div class="page-break-before"></div>

            This is the third page!

            <div class="page-break-after"></div>
            <div class="page-break-before"></div>

            -->

        </div>
        <!-- / INVOICE -->

    </div>

</div>